.pageContainer {
  margin: 0 auto;
  width: auto;
  max-width: 600px;
}

.logo {
  margin-top: 300px;
  height: 100px;
  background: url(../../assets/5mins-logo-dark.png) no-repeat;
  background-position: bottom 50px center;
}

@media (prefers-color-scheme: light) {
  .logo {
    background-image: url(../../assets/5mins-logo-light.svg);
    background-size: 200px;
  }
}
