:root {
  --color-background: #242424;
  --color-text: rgba(255, 255, 255, 0.87);
}

body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color-scheme: light dark;
  background-color: var(--color-background);
  color: var(--color-text);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #ffffff;
    --color-text: #213547;
  }
}
